  <div
    class="min-h-screen flex flex-col bg-gradient-to-b from-[var(--p-surface-0)] to-[var(--p-surface-50)] transition-all">
    <header
      class="w-full max-w-6xl mx-auto flex flex-col items-center justify-between px-4 py-3 mt-4 sm:flex-row sm:items-center sm:relative">
      <!-- Toggle Switch -->
      <div class="mb-2 sm:mb-0 sm:mr-4 order-1 sm:order-1">
        <p-toggleSwitch [ngModel]="isDarkTheme" (ngModelChange)="toggleTheme()" onIcon="pi-moon" offIcon="pi pi-sun" />
      </div>

      <!-- Botão Entrar responsivo: acima da logo no mobile -->
      <div class="flex-shrink-0 w-full max-w-xs sm:max-w-none sm:w-auto mb-2 sm:mb-0 order-2 sm:order-3">
        <p-button label="Fazer login" variant="outlined" severity="info" styleClass="w-full sm:w-auto" />
      </div>

      <!-- Logo centralizada -->
      <div class="mb-2 sm:mb-0 flex-1 flex justify-center order-3 sm:order-2">
        <app-logo class="text-primary-500 text-xl font-semibold" />
      </div>
    </header>
      <ng-content>
        <router-outlet></router-outlet>
      </ng-content> 
    <app-footer/>
  </div>