"<div class="activation-container">
<h2>Ativando sua conta...</h2>

<p-progressBar
    *ngIf="loading"
    mode="indeterminate"
    [style]="{ height: '10px' }"
></p-progressBar>

<div *ngIf="!loading">
    <div *ngIf="success; else errorTemplate">
    <i class="pi pi-check-circle success-icon"></i>
    <p>Sua conta foi ativada com sucesso!</p>
    </div>
    <ng-template #errorTemplate>
    <i class="pi pi-times-circle error-icon"></i>
    <p>Falha ao ativar sua conta. Verifique o link ou entre em contato com o suporte.</p>
    </ng-template>
</div>
</div>
  