<div class="back-ground">
  <div class="header">
    <div class="header-container">
      <header class="w-full px-4 py-4">
        <div class="max-w-6xl mx-auto flex justify-center">
          <div class="flex items-center gap-x-10">
            <div class="flex items-center gap-x-2">
              <a routerLink="/pages/home/main" class="flex items-center">
                <app-logo></app-logo>
              </a>
            </div>
            <p-menubar
            [model]="items"
            class="bg-white/10 backdrop-blur-sm rounded-md text-white border-none shadow-md"
            ></p-menubar>
            <div class="mb-2 sm:mb-0 sm:mr-4 order-1 sm:order-1">
              <p-toggleSwitch [ngModel]="isDarkTheme" (ngModelChange)="toggleTheme()" onIcon="pi-moon" offIcon="pi pi-sun" />
            </div>
          </div>
        </div>
      </header>
    </div>
  </div>
  <main class="container mx-auto px-4 py-6 flex-1">
    <router-outlet></router-outlet>
  </main>
    <app-footer></app-footer>
</div>
  