<div class="back-ground bg-surface-50 dark:bg-surface-950 flex items-center justify-center min-h-screen min-w-[100vw] overflow-hidden">
    <div class="flex flex-col items-center justify-center">
        <div class="container" style="border-radius: 56px; padding: 0.3rem; background: linear-gradient(131deg, #1f8190 10%, rgba(33 150 243 / 19%) 30%); border-color: #1f8190;">
            <div class="w-full bg-surface-0 dark:bg-surface-900 py-20 px-8 sm:px-20" style="border-radius: 53px; border-color: #1f8190">
                <div class="text-center mb-8">
                    <div class="flex justify-center mb-4">
                        <app-logo class="text-primary-500 text-xl sm:text-2xl font-semibold" />
                    </div>
                    <span class="text-muted-color font-medium">Faça login para continuar</span>
                </div>

                <!-- Formulário com formControlName -->
                <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                    <div>
                        <label for="email1" class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2">Email</label>
                        <input pInputText id="email1" type="email" placeholder="Email de login"
                            class="w-full md:w-[30rem] mb-8" formControlName="email" />
                            <div *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].touched || loginForm.controls['email'].dirty)">
                                <small class="text-red">Email inválido.</small>
                              </div>
                    </div>

                    <div>
                        <label for="password1" class="block text-surface-900 dark:text-surface-0 font-medium text-xl mb-2">Senha</label>
                        <p-password id="password1" formControlName="password" placeholder="Senha" [toggleMask]="true"
                            styleClass="mb-4" [fluid]="true" [feedback]="false" />
                    </div>

                    <div class="flex items-center justify-between mt-2 mb-8 gap-8">
                        <div class="flex items-center">
                            <p-checkbox [(ngModel)]="checked"
                            [ngModelOptions]="{ standalone: true }"
                            id="rememberme1"
                            binary
                            class="mr-2"></p-checkbox>
                            <label for="rememberme1">Lembre de mim</label>
                        </div>
                        <span class="font-medium no-underline ml-2 text-right cursor-pointer text-primary">
                            Esqueceu sua senha?</span>
                    </div>

                    <div class="flex items-center mt-2 mb-8">
                        <button type="button" [routerLink]="['/cadastro']" class="text-primary underline">
                            Cadastre-se
                        </button>
                    </div>

                    <!-- Botão de login -->
                    <p-button label="Entrar"
                        styleClass="w-full"
                        [style]="{ 'background-color': '#526eb3', 'color': '#fff', 'border': 'none' }"
                        [disabled]="!loginForm.valid" type="submit">
                    </p-button>
                </form>
            </div>
        </div>
    </div>
</div>
