<div
    class="back-ground bg-surface-50 dark:bg-surface-950 flex items-center justify-center min-h-screen min-w-[100vw] overflow-hidden">
    <div class="flex flex-col items-center justify-center w-full max-w-md px-4">
        <!-- Logo e título -->
        <div class="text-center mb-8">
            <div class="flex justify-center mb-4">
                <app-logo class="text-primary-500 text-xl sm:text-2xl font-semibold" />
            </div>
            <span class="text-muted-color font-medium">Cadastre-se</span>
        </div>
        <p-toast position="top-right"></p-toast>
        <form [formGroup]="formCadastro" (ngSubmit)="onSubmit()">

            <!-- Nome -->
            <div class="justify-center mb-4">
                <label for="nome">Nome</label>
                <p-iconfield>
                    <p-inputicon class="pi pi-user" />
                    <input pInputText placeholder="Nome completo" id="nome" formControlName="nome" autocomplete="off"
                        class="w-full h-12 text-base" [ngClass]="{ 'p-invalid': isInvalid('nome') }" />
                </p-iconfield>
                <small *ngIf="isInvalid('nome')" class="text-red-500">Nome é obrigatório</small>
            </div>

            <!-- Email -->
            <div class="justify-center mb-4">
                <label for="email">Email</label>
                <p-iconfield>
                    <p-inputicon class="pi pi-envelope" />
                    <input pInputText id="email" placeholder="Email de login" formControlName="email" autocomplete="off"
                        class="w-full h-12 text-base" [ngClass]="{ 'p-invalid': isInvalid('email') }" />
                </p-iconfield>
                <small *ngIf="isInvalid('email')" class="text-red-500">Email é obrigatório</small>
            </div>


            <!-- Endereço -->
            <div class="justify-center mb-4">
                <label for="endereco">Endereço</label>
                <p-iconfield>
                    <p-inputicon class="pi pi-map" />
                    <input pInputText id="endereco" placeholder="Digite o endereço" formControlName="endereco"
                        autocomplete="off" class="w-full h-12 text-base"
                        [ngClass]="{ 'p-invalid': isInvalid('endereco') }" />
                </p-iconfield>
                <small *ngIf="isInvalid('endereco')" class="text-red-500">Endereço é obrigatório</small>
            </div>


            <!-- Senha -->
            <div class="flex justify-between gap-4 mb-4">
                <!-- Campo Senha -->
                <div class="flex-1">
                    <label for="senha" class="block text-surface-900 dark:text-surface-0 font-medium text-xl mb-2">
                        Senha
                    </label>
                    <p-iconfield>
                        <p-inputicon class="pi pi-lock" style="color: gray;" />
                        <p-password id="senha" formControlName="senha" placeholder="Digite sua senha"
                            [toggleMask]="true" [feedback]="true" [promptLabel]="'Digite sua senha'"
                            [weakLabel]="'Fraca'" [mediumLabel]="'Média'" [strongLabel]="'Forte'" class="w-full"
                            pTooltip="A senha deve conter no mínimo 6 caracteres contendo letras maiúsculas, números e pelo menos um caractere especial."
                            [ngClass]="{ 'p-invalid': isInvalid('senha') }" />
                    </p-iconfield>
                    <small *ngIf="isInvalid('senha')" class="text-red-500">Senha é obrigatório</small>
                </div>

                <!-- Campo Confirmar Senha -->
                <div class="flex-1">
                    <label for="confirmarSenha"
                        class="block text-surface-900 dark:text-surface-0 font-medium text-xl mb-2">
                        Confirmar Senha
                    </label>
                    <p-iconfield>
                        <p-inputicon class="pi pi-lock" style="color: gray;" />
                        <p-password id="confirmarSenha" formControlName="confirmarSenha"
                            placeholder="Confirme sua senha" [toggleMask]="true" [feedback]="false" class="w-full"
                            [ngClass]="{ 'p-invalid': isInvalid('confirmarSenha') }" />
                    </p-iconfield>
                    <small *ngIf="isInvalid('confirmarSenha')" class="text-red-500">Confirma senha é obrigatório</small>
                </div>
            </div>

            <div class="justify-center mb-4">
                <p-checkbox binary="true" inputId="AceiteTermo" formControlName="AceiteTermo"></p-checkbox>
                <label for="AceiteTermo" class="ml-2">
                    Li os Termos e Condições
                </label>

                <div *ngIf="formCadastro.get('AceiteTermo')?.invalid && formCadastro.get('AceiteTermo')?.touched"
                    class="text-red-500 text-sm mt-1">
                    Você deve aceitar os termos e condições para continuar.
                </div>
            </div>
            <div class="flex justify-center mb-4">
                <p-button label="Cancelar" [routerLink]="['/login']" class="mx-2" variant="outlined" severity="info"
                    styleClass="w-full sm:w-auto" />
                <p-button label="Cadastrar" class="mx-2" variant="outlined" severity="info"
                    styleClass="w-full sm:w-auto" type="submit" />
            </div>
        </form>

    </div>
</div>