@import "primeicons/primeicons.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@400;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; 
  transition: background-color 0.3s ease, color 0.3s ease;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
background-color: var(--background-color) !important;
color: var(--p-primary-400);
transition: background-color
}
@import 'assets/scss/variables';



.snackbar-success {
  background-color: #4CAF50 !important; /* Verde */
  color: white !important;
}

.snackbar-error {
  background-color: #f44336 !important; /* Vermelho */
  color: white !important;
}

.snackbar-warning {
  background-color: #ff9800 !important; /* Laranja */
  color: black !important;
}

.mat-mdc-snack-bar-container {
  border-radius: 5px !important;
  font-weight: bold !important;
  text-align: center !important;
}

.mat-mdc-snack-bar-action {
  color: white !important; /* Para o botão "Fechar" ficar sempre branco */
}


:root {
    --background-gradient: linear-gradient(
      to bottom,
      var(--p-surface-0),
      var(--p-surface-50),
      var(--p-surface-50),
      var(--p-surface-50)
    );

    transition: background-color 0.5s ease-in-out, 
    color 0.5s ease-in-out, 
    border-color 0.5s ease-in-out;
    
    --p-menubar-background: transparent !important;
    --p-menubar-border-color: transparent !important;
    --p-form-field-background: transparent !important;
    --p-card-background: transparent !important;
    --p-card-color: var(--p-primary-400) !important;
    --p-inputtext-color: var(--p-primary-400) !important;
    --p-inputtext-background: var(--p-surface-0) !important;
    --p-inputtext-border-color: var(--p-primary-400) !important;
    --p-inputtext-hover-border-color: var(--p-primary-400) !important;
    --p-megamenu-item-link-color: var(--p-primary-400) !important;
    --p-icon-size: 1.1rem !important;
    --p-drawer-background: linear-gradient(190deg, rgba(86, 6, 160, 0.85), rgba(52, 6, 107, 0.85)) !important;
    --p-drawer-border-radius: 16px !important;
    --p-menubar-item-focus-background : var(--p-primary-400) !important;
    --p-menubar-item-active-background: var(--p-primary-400) !important;
    --p-navigation-item-color: var(--p-primary-400) !important;
    --p-menubar-item-focus-color: var(--p-surface-0) !important;
    --p-menubar-item-icon-color: var(--p-primary-400) !important;
    --p-menubar-submenu-background: var(--p-surface-0) !important;
}

::ng-deep input::placeholder {
  color: #2FB7F4; /* ou qualquer cor que quiser */
  opacity: 1; /* Garante que a cor será visível */
}

input::placeholder {
  color: #2FB7F4;
}